# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.config
*.cache
*.ide-shm
*.ide-wal
IIB1_UE1-master/IIB1_Hausübung_1/IIB1_UE1_Gruppe02/IIB1_UE1_Gruppe02/IIB1_UE1_Gruppe02_Projektordner/GUI/.vs/IIB1_UE1_Gruppe02_GUI/v15/.suo
*.ide
*.ide-shm
IIB1_UE1-master/IIB1_Hausübung_1/IIB1_UE1_Gruppe02/IIB1_UE1_Gruppe02/IIB1_UE1_Gruppe02_Projektordner/GUI/.vs/IIB1_UE1_Gruppe02_GUI/v15/Server/sqlite3/storage.ide-wal
IIB1_UE1-master/IIB1_Hausübung_1/IIB1_UE1_Gruppe02/IIB1_UE1_Gruppe02/IIB1_UE1_Gruppe02_Projektordner/GUI/.vs/IIB1_UE1_Gruppe02_GUI/v15/Server/sqlite3/storage.ide-shm
IIB1_UE1-master/IIB1_Hausübung_1/IIB1_UE1_Gruppe02/IIB1_UE1_Gruppe02/IIB1_UE1_Gruppe02_Projektordner/GUI/.vs/IIB1_UE1_Gruppe02_GUI/v15/Server/sqlite3/storage.ide
IIB1_UE1-master/IIB1_Hausübung_1/IIB1_UE1_Gruppe02/IIB1_UE1_Gruppe02/IIB1_UE1_Gruppe02_Projektordner/GUI/.vs/IIB1_UE1_Gruppe02_GUI/v15/.suo
